---
layout: default
---

{% include edit_link.html %}

<h1>{{ page.title }}</h1>

<p>{% assign lastone = page.author | last %}
{% for person in page.author %}
{% include listperson.html %}
{% endfor %}</p>

{%if page.start %}<p><b>Time:</b> {{ page.start }}{% if page.end %}-{{ page.end }}{% endif %}</p>{% endif %}
{%if page.venue %}<p><b>Venue:</b> {{ page.venue }}</p>{% endif %}

{%if page.abstract %}<p><b>Abstract</b>: {{ page.abstract }} </p>{% endif %}

{% for person in page.author %}{% if person.bio %}<p><b>Bio</b>: {{ person.bio }} </p>{% endif %}{% endfor %}

{{ content }}
